/* Google Fonts | Poppins */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Outfit:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
}

.container{
    display: flex;
    width: 420px;
    padding: 50px 0;
    border-radius: 8px;
    background: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}

.circular-progress{
    position: relative;
    height: 250px;
    width: 250px;
    background: conic-gradient(rgb(186, 2, 8) 3.6deg, #ededed 0deg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before{
    content:"";
    position: absolute;
    height: 210px;
    width: 210px;
    background-color: #fff;
    border-radius: 50%;
}

.progress-value{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: crimson;
}

.text{
    font-size: 30px;
    font-weight: 500;
    color: rgb(52, 52, 52);
}